.boton-clear{
    height: 80px;
    font-size: 1.6em;/* unidad realitiva, se ajusta en porcentaje al tamañano de su contenedor */
    display: flex;
    flex: 1;
    background-color: red;
    margin-top: 8px;
    justify-content: center;
    align-items: center;
    font-weight: bold;
    color: white;
    border: 2px solid white;
    cursor: pointer;
    border-radius: 20px;

}
.boton-clear:hover{
    background-color: yellow;
}